<div class="container-fluid">
    <h1>burger nom nom</h1>
    <img src="/assets/img/burger.png" alt="burger">
</div>

<div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
    	<h3>Burgers 4 U 2 Eat</h3>
        {{#each burgers}} 
        	{{#unless this.devoured}} 
		        <form class="eat-form form-group" action="/{{this.id}}?_method=PUT" method="POST">
		        	{{this.burger_name}}
		            <input type="hidden" name="eat" value="true">
		            <button type="submit" class="btn btn-info">nom</button>
		        </form>
        	{{/unless}} 
        {{/each}}
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
    	<h3>Eaten</h3>
        <div class="list-group">
            {{#each burgers}} 
            	{{#if this.devoured}}
            		<p>{{this.burger_name}}</p>
            	{{/if}} 
            {{/each}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Add new burger</h3>
        <form class="add-burger-form" action="/" method="POST">

            <div class="form-group">
                <input type="text" id="ca" name="name" placeholder="Burger name">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>

        </form>
    </div>
</div>